<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliu.com.mapper.FollowStoreMapper">
    <resultMap type="com.liuliu.com.domain.FollowStore" id="resultFollowStore">
		<id property="followStoreId" column="follow_store_id" javaType="int" />
		<result property="productStoreId" column="product_store_id" javaType="int" />
		<result property="userId" column="user_id" javaType="int" />
	</resultMap>

</mapper>